#panorama {
  width: 100vw;
  height: 100vh;
}
#controls {
  position: absolute;
  bottom: 15px;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-bottom: 3px;
}
.ctrl {
  padding: 8px 5px;
  width: 30px;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
}
.ctrl:hover {
  background: rgba(200, 200, 200, 1);
}

.pnlm-panorama-info {
  top: 25px;
  height: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pnlm-panorama-info .pnlm-title-box {
  padding: 7px 20px;
  font-size: 17px !important;
}

.control-left {
  position: absolute;
  bottom: 18px;
  left: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
}
.control-left .ctrl{
  width: 37px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  cursor: pointer;
  font-size: 19px;
  padding: 0px;
  color: #333;
}
.control-left .ctrl:hover {
  background: rgba(200, 200, 200, 1);
}
.control-right {
  position: absolute;
  bottom: 18px;
  right: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
}
.control-right .ctrl {
  width: 37px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  cursor: pointer;
  font-size: 19px;
  padding: 0px;
  color: #333;
}

.control-right .ctrl:hover {
  background: rgba(200, 200, 200, 1);
}

.control-right > *:not(:last-child) {
  margin-right: 10px;
}

.portfolio-isotope {
  overflow: scroll;
  max-height: 100vh;
  padding-bottom: 10rem;
}
.portfolio-container .portfolio-item .portfolio-info {
  margin-top: 10px;
}

/* Custom hotspot */
/* .custom-hotspot {
  height: 50px;
  width: 50px;
  background: #f00;
}
div.custom-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
}
div.custom-tooltip:hover span{
  visibility: visible;
}
div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
} */

.pnlm-hotspot-base {
  cursor: pointer;
}